body {
    background-color: antiquewhite;
    font-family: monospace;
}

#rusek {
    background-color:cyan;
    font-size: 75px;
}

#img1section {}

#img1 {
    margin-top: 10px;
    border: 5px ridge cyan;
}

#h1naglowek {
    border: 3px dotted black;
    margin-left: 400px;
    margin-right: 400px;
    text-align: center;
}

#like {
    width: 700px;
    position: absolute;
    left: 200px;
}

#uwielbiamy {
    text-decoration: underline;
}

#like2{
    position: absolute;
    left: 1000px;
    height: 470px;
}